# Dépendances
node_modules/
.pnpm-store/

# Build
dist/
.astro/
.output/

# Environnement
.env
.env.local
.env.production

# Système
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Outils
.wrangler/
.vercel/
.netlify/
